<% if (site.tags.length){ %>
  <div class="widget">
    <h1 class="title" style="text-align:center;line-height:50px;"><%= __('tagcloud') %></h3>
    <div class="content tag-cloud" style="line-height:35px;">
        <% if (theme.tagcloud.tag3d){ %>
            <canvas width="300" height="300" id="tag-cloud-3d">
                <%-tagcloud() %>
            </canvas>
        <% } else { %>
            <%- tagcloud() %>
        <% } %>
    </div>
  </div>
<% } %>
